.assistencia-tecnica .mapa
{
	width:402px;
	height:418px;
    margin-top:30px;
    padding:0 30PX  30PX  30PX;
    position:relative;
    float:left;
    position:relative;
    background:url('/website/images/assistencia-tecnica/img-mapa.jpg') no-repeat left top;
    top: 0px;
    left: 0px;
}

.assistencia-tecnica .mapa .PR {
    z-index:1;
    position:absolute;
    top:286px;
    left:187px;
    width: 65px;
    height: 38px;
    z-index:1;
}
.assistencia-tecnica .mapa .SC {
    z-index:1;
    position:absolute;
    top: 326px;
    left: 195px;
    width: 65px;
    height: 24px;
}
.assistencia-tecnica .mapa .RS {
    z-index:1;
    position:absolute;
    top: 338px;
    left: 159px;
    width: 65px;
    height: 60px;
}
.assistencia-tecnica .mapa .SP {
    z-index:1;
    position:absolute;
    top: 261px;
    left: 215px;
    width: 66px;
    height: 47px;
    z-index:0;
}
.assistencia-tecnica .mapa .MG {
    z-index:1;
    position:absolute;
    top: 214px;
    left: 255px;
    width: 53px;
    height: 61px;
}
.assistencia-tecnica .mapa .ES {
    z-index:1;
    position:absolute;
    top: 246px;
    left: 317px;
    width: 18px;
    height: 34px;
}
.assistencia-tecnica .mapa .RN {
    z-index:1;
    position:absolute;
    top: 94px;
    left: 349px;
    width: 46px;
    height: 25px;
}
.assistencia-tecnica .mapa .PB {
    z-index:1;
    position:absolute;
    top: 118px;
    left: 349px;
    width: 48px;
    bottom: 348px;
}
.assistencia-tecnica .mapa .PE {
    z-index:1;
    position:absolute;
    top: 129px;
    left: 345px;
    width: 55px;
    height: 16px;
}
.assistencia-tecnica .mapa .AL {
    z-index:1;
    position:absolute;
    top: 145px;
    left: 345px;
    width: 51px;
    height: 19px;
}
.assistencia-tecnica .mapa .SE {
    z-index:1;
    position:absolute;
    top: 163px;
    left: 340px;
    width: 45px;
    height: 15px;
}
.assistencia-tecnica .mapa .BA {
    z-index:1;
    position:absolute;
    top: 168px;
    left: 273px;
    width: 81px;
    height: 74px;
}
.assistencia-tecnica .mapa .CE {
    z-index:1;
    position:absolute;
    top: 88px;
    left: 322px;
    width: 28px;
    height: 40px;
}
.assistencia-tecnica .mapa .PI {
    z-index:1;
    position:absolute;
    top: 92px;
    left: 278px;
    width: 49px;
    height: 66px;
}
.assistencia-tecnica .mapa .MA {
    z-index:1;
    position:absolute;
    top: 76px;
    left: 264px;
    width: 44px;
    height: 58px;
}
.assistencia-tecnica .mapa .TO {
    z-index:1;
    position:absolute;
    top: 109px;
    left: 234px;
    height: 85px;
    width: 37px;
}
.assistencia-tecnica .mapa .PA {
    z-index:1;
    position:absolute;
    top: 55px;
    left: 163px;
    width: 101px;
    height: 88px;
}
.assistencia-tecnica .mapa .AM {
    z-index:1;
    position:absolute;
    top: 37px;
    left: 21px;
    width: 138px;
    height: 112px;
}
.assistencia-tecnica .mapa .AC {
    z-index:1;
    position:absolute;
    top: 131px;
    left: 11px;
    width: 65px;
    height: 32px;
}
.assistencia-tecnica .mapa .RR {
    z-index:1;
    position:absolute;
    top: 7px;
    left: 100px;
    width: 54px;
    height: 52px;
}
.assistencia-tecnica .mapa .AP {
    z-index:1;
    position:absolute;
    top: 15px;
    left: 193px;
    width: 53px;
    height: 43px;
}
.assistencia-tecnica .mapa .RO {
    z-index:1;
    position:absolute;
    top: 151px;
    left: 96px;
    width: 43px;
    height: 40px;
}
.assistencia-tecnica .mapa .MT {
    z-index:1;
    position:absolute;
    top: 154px;
    left: 145px;
    width: 83px;
    height: 68px;
}
.assistencia-tecnica .mapa .MS {
    z-index:1;
    position:absolute;
    top: 228px;
    left: 152px;
    width: 61px;
    height: 62px;
}
.assistencia-tecnica .mapa .GO {
    z-index:1;
    position:absolute;
    top: 191px;
    left: 202px;
    width: 52px;
    height: 63px;
}

.assistencia-tecnica .mapa .RJ {
    z-index:1;
    position:absolute;
    top: 271px;
    left: 286px;
    width: 34px;
    height: 31px;
}

.assistencia-tecnica .mapa .DF {
    z-index:1;
    position:absolute;
    top: 215px;
    left: 242px;
    width: 15px;
    height: 15px;
}